
header{
    min-height: 90px;
    background-color: rgb(9, 77, 9);
margin-bottom: 30px;
}
header div{
position: relative;
min-height: 90px;

}
header img{
    position: relative;
    height: 70px;
    width: 200px;
    top: 20px;
    left: 4cm;
}

header ul{
    display: inline; 
    position: relative;
   bottom: 27px; 
   left: 4cm;
   font-size: 30px;
  
    
}
header li{
    display: inline;
   top: 20;
    margin: 31px;
}
header a{
     text-decoration: none;
     text-transform: uppercase;
     color: black;
}

img  {
width: 960px;
height: 450px;
position: relative;
left: 4cm;
margin-bottom: 30px;
}

 main div:nth-child(2) img  {
     width: 300px;
     height: 375px;
     position: relative;
     left: 4cm;
     margin-right: 26.4px;
     margin-left: 0px;
     margin-bottom: 30px;
     
}
 
main div:nth-child(3) img {
    position: relative;
    left: 4cm;
    width: 480px;
    height: 400px;
    display: inline;
    float: left;
    top: 0px;
    
    
}

main div:last-child p {
    display: inline;
    position: relative;
    left: 4.2cm;
    bottom: .2cm;
}
main div:last-child h1{
    position: relative;
    left: 4.2cm;
    margin-top: 0px;
    top: 0px;
}
button{
    font-size: 30px;
    position: relative;
    background-color: black;
    color: rgb(240, 195, 195);
    width:fit-content;
    height: fit-content;
    left: 9cm;
    bottom: .7cm;
    border: solid  rgb(207, 207, 236);
    border-radius: 5%;
    margin-top: 1cm;
}
footer{
    min-height: 3cm;
    background-color: rgb(9, 77, 9);
    position: relative;
    margin-top: 30px;
    margin-top: 0px;
}
footer ul{
    display: inline;
}
footer li {
    display: inline;
    position: relative;
  right: 10cm;
}
footer a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 30px;
    top: 1cm;
   margin-right: 2cm;
    
}

 